[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = git@github.com:ocornut/imgui.git
[submodule "vendor/MinHook"]
	path = vendor/MinHook
	url = git@github.com:TsudaKageyu/minhook.git
[submodule "vendor/json"]
	path = vendor/json
	url = git@github.com:nlohmann/json.git
